<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- 配置权限的过滤器 -->
<filter>
	<filter-name>PrivilegeFilter</filter-name>
	<filter-class>cn.itcast.estore.web.filter.PrivilegeFilter</filter-class>
</filter>

<filter-mapping>
	<filter-name>PrivilegeFilter</filter-name>
	<url-pattern>/jsps/cart/*</url-pattern>
</filter-mapping>
<filter-mapping>
	<filter-name>PrivilegeFilter</filter-name>
	<url-pattern>/jsps/order/*</url-pattern>
</filter-mapping>
<filter-mapping>
	<filter-name>PrivilegeFilter</filter-name>
	<!-- <url-pattern>/orderServlet</url-pattern> -->
	<servlet-name>CartServlet</servlet-name>
</filter-mapping>
<filter-mapping>
	<filter-name>PrivilegeFilter</filter-name>
<!-- 	<url-pattern>/cartServlet</url-pattern> -->
	<servlet-name>OrderServlet</servlet-name>
</filter-mapping>


  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminBookServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.AdminBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>cn.itcast.estore.web.servlet.AdminOrderServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminBookServlet</servlet-name>
    <url-pattern>/adminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/adminOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>